<nav class="navbar navbar-inverse bg-inverse mb-4">
  <div class="navbar-brand"><%= fa_icon "square" %></div>

    <%= nav_helper 'text-white', 'span' %>
    <li><%= login_helper "text-white" %></li>

</nav>
