<div class="container">
  <h1>About Me</h1>
  <hr />

  <div class="row">
    <div class="col-md-4">
      <%= image_tag "8753_meh.jpg", width: 300, alt: "Oprha" %>
    </div>


    <div class="col-md-8">
      <h1>Brianna</h1>
      <h4>Connect 4 Champ</h4>
    </div>
  </div>
</div>
