      <div class="inner cover">
        <h1 class="cover-heading">Welcome</h1>
        <p class="lead">Grab a juicebox and make yourself at home.</p>
        <p class="lead">
          <%= link_to 'About Me', about_path, class: "btn btn-md btn-secondary" %>
        </p>
      </div>
